@import url("./assets/normalize.css");
@import url("./assets/fonts.css");

.root {
  display: grid;

  box-sizing: border-box;
  width: 100%;
  height: 100vh;

  color: var(--color-dark);
  background-color: var(--color-light);

  font: normal 20px/1.5 "Inter", Arial, sans-serif;
  --color-gray: #c2c2c2;
  --color-dark: #323131;
  --color-light: #ffffff;
  -webkit-font-smoothing: antialiased;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  justify-items: center;
  --main-width: 940px;
}

.common-width {
  display: grid;
  box-sizing: border-box;
  width: 100%;
  max-width: var(--main-width);
  padding: 0 20px;
}

.link {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  text-decoration: none;

  color: var(--color-dark);
}

.header {
  justify-items: center;
  align-items: center;
  height: 60px;
}

.header__title {
  font-size: 30px;
  margin: 0;
  font-weight: normal;
}

.main {
  height: calc(100vh - 120px);
  padding: 50px 0;
}

.game {
  width: 100%;
  display: none;
  justify-items: center;
  grid-template-rows: repeat(3, min-content) 1fr;
  gap: 15px;
  opacity: 0;
}

.game__field {
  display: grid;
  grid-template-columns: repeat(3, 70px);
  grid-template-rows: repeat(3, 70px);
  gap: 5px;
  padding: 0;
  list-style: none;
  margin: 0;
}

.game__field-cell {
  display: grid;
  position: relative;
  border: 1px solid var(--color-gray);
  border-radius: 3px;
  justify-items: center;
  align-items: center;
}

.game__title {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.game__text {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.game__button-reset {
  cursor: pointer;
  display: none;
  opacity: 0;
  font-size: 18px;
  padding: 0;
  margin: 0;
  height: 40px;
  width: 200px;
  align-self: end;
  align-content: center;
}

.footer {
  align-items: center;
  justify-content: space-between;

  height: 60px;

  grid-template-columns: repeat(2, max-content);
}

@media screen and (max-width: 480px) {
  .footer {
    font-size: 14px;
  }
}

.footer__copyright {
  display: flex;
  align-items: center;

  margin: 0;

  color: var(--color-dark);

  gap: 20px;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__logo {
  width: 80px;
  height: auto;
}

.cross {
  pointer-events: none;
}

.cross:before,
.cross:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--color-dark);
}

.cross:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cross:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.zero {
  pointer-events: none;
}

.zero:before,
.zero:after {
  content: "";
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: 2px solid var(--color-dark);
  background: transparent;
}

.cross.win {
  background-color: rgb(0, 255, 21, 0.3);
  animation: displayContent 1s forwards;

  opacity: 0;
}

.visible {
  animation: displayContent 1s forwards;
  display: grid;
}

.game__button-start {
  font-size: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.zero.win {
  background-color: rgba(255, 0, 0, 0.3);
  animation: displayContent 1s forwards;
  opacity: 0;
}

@keyframes displayContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.empty:hover {
  cursor: pointer;
  transform: scale(1.1);
}
