@import url("../../assets/normalize.css");
@import url("../../assets/fonts.css");

.root {
  display: grid;

  box-sizing: border-box;
  width: 100%;
  height: 100vh;

  color: var(--color-dark);
  background-color: var(--color-light);

  font: normal 20px/1.5 "Inter", Arial, sans-serif;

  --color-dark: #323131;
  --color-gray: #c2c2c2;
  --color-light: #fff;
  -webkit-font-smoothing: antialiased;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  justify-items: center;
  --main-width: 480px;
}

.common-width {
  display: grid;

  box-sizing: border-box;
  width: 100%;
  max-width: var(--main-width);
  padding: 0 20px;
}

.link {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  text-decoration: none;

  color: var(--color-dark);
}

.link:hover {
  opacity: 0.7;
}

.button {
  align-content: center;

  width: 100%;
  margin: 0;
  padding: 0;

  cursor: pointer;
  transition: 0.3s ease-in-out;

  border: 1px solid var(--color-gray);
  border-radius: 2px;
  background: transparent;
}

.button:hover {
  transform: scale(1.1);
}

.header {
  align-items: center;

  height: 60px;

  justify-items: center;
}

.header__title {
  margin: 0;

  font-size: 30px;
  font-weight: normal;
}

.main {
  justify-content: center;

  height: calc(100vh - 120px);
  padding: 50px 0;
}

.game {
  display: none;

  width: 100%;

  opacity: 0;

  gap: 10px;
  grid-template-rows: repeat(3, min-content) 1fr 1fr;
  justify-items: center;
}

.game__field {
  display: grid;

  margin: 0;
  padding: 0;

  list-style: none;

  gap: 10px;
  grid-template-columns: repeat(3, 70px);
  grid-template-rows: repeat(3, 70px);
}

.game__field-cell {
  position: relative;

  display: grid;
  align-items: center;

  transition: 0.3s ease-in-out;

  border: 1px solid var(--color-gray);
  border-radius: 3px;

  justify-items: center;
}

.game__title {
  margin: 0;

  font-size: 24px;
  font-weight: normal;
}

.game__text {
  margin: 0;
  padding: 0;

  font-size: 20px;
}

.game__button-start {
  align-self: center;

  height: 60px;

  border: none;
  border: none;
  background: transparent;

  font-size: 50px;
}

@media screen and (max-width: 480px) {
  .game__button-start {
    font-size: 40px;
  }
}

.game__button-reset {
  display: none;
  align-self: end;

  height: 40px;

  opacity: 0;

  font-size: 18px;
}

.footer {
  align-items: center;
  justify-items: center;

  height: 60px;

  grid-template-columns: 1fr;
}

@media screen and (max-width: 480px) {
  .footer {
    font-size: 14px;
  }
}

.footer__copyright {
  display: flex;
  align-items: center;

  margin: 0;

  color: var(--color-dark);

  gap: 20px;
}

.footer__link:hover {
  text-decoration: underline;
}

.cross {
  pointer-events: none;
}

.cross:before,
.cross:after {
  position: absolute;

  width: 100%;
  height: 2px;

  content: "";

  background: var(--color-dark);
}

.cross:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cross:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.zero {
  animation: scale 0.7s forwards;
  pointer-events: none;

  opacity: 1;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.zero:before,
.zero:after {
  position: absolute;

  width: 80%;
  height: 80%;

  content: "";

  border: 2px solid var(--color-dark);
  border-radius: 50%;
  background: transparent;
}

.cross.win {
  background-color: rgb(0, 255, 21, 0.3);
}

.visible {
  display: grid;

  animation: displayContent 1s forwards;
}

.zero.win {
  background-color: rgba(255, 0, 0, 0.3);
}

.win {
  animation: scaleWin 1s forwards;
}

@keyframes scaleWin {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes displayContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes displayContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.empty:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.popup {
  position: fixed;
  z-index: 2;

  display: grid;
  visibility: hidden;
  align-content: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  transition: visibility 0.3s, opacity 0.3s ease-in-out;

  opacity: 0;
  background: rgba(0, 0, 0, 0.3);

  grid-template-rows: repeat(3, max-content);
}

.popup__container {
  display: grid;

  padding: 15px 15px 30px 15px;

  border-radius: 3px;
  background: var(--color-light);

  gap: 15px;
  justify-items: center;
}

.popup_open {
  visibility: visible;

  opacity: 1;
}

.popup__button-open {
  height: 40px;

  font-size: 18px;
}

.popup__button-close {
  width: 20px;
  height: 20px;

  border: none;
  background: url("../../assets/svg/button-close.svg");
  background-position: center center;

  justify-self: right;
}

.popup__title {
  margin: 0;

  font-size: 24px;
  font-weight: normal;
}

.table {
  margin: 0;
  padding: 0 15px;

  font-size: 14px;
}

.table__body {
  display: grid;

  gap: 5px;
}

.table__row {
  display: grid;

  box-sizing: border-box;

  gap: 10px 0;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.table__header {
  font-weight: normal;
}

.table__row_heading {
  border-bottom: 1px solid var(--color-gray);
}
